1. Traverse to top level directory
2. Search for a folder
3. Traverse to immediate parent directory
4. Manage super user privileges
4. Present working directory
5. Display files in a folder
6. Display hidden files in a folder
7. Display the size of the file
8. Give permission to certain files
9. Deny permission to files
10. Find processes
11. Kill processes
12. Create File/folder
13. Delete file/folder
14. Auto complete file/folder names
15. Software updates
16. Take screenshots
17. Checking on disk space
18. CPU usage on system
19. Date modified on files
20. commands history
21. Restore any file/folder
22. Cut/copy/paste/concatenate to file
23. Output the contents of the file