1. Changing directory
2. Getting the current directory
3. Creating a file/folder
4. Deleting a file/folder
5. Giving read/write access and other permission
6. Get the IP address
7. Check versions of softwares installed
8. Installing softwares, modules, libraries
9. Updating softwares, modules, libraries
10. Running executables, programs, batch files
11. List all processes running with the port numbers they are listening to
12. Start or kill a process 
13. Diff between two files
14. Pinging commands 
15. Get history of all commands
