1. Getting current directory
2. Changing directory
3. List files ins current/given directory
4. List all folders in current/given directory
5. List everything in current/given directory
6. List everything recursively in current/given directory
7. Create a file
8. Create a folder
9. Delete a file
10. Deleted a folder recursively - safe delte and force delete.
11. Copy a file
12. Cut a file
13. Copy a folder recursively
14. Cut a folcer recursively
15. Search for a file
16. Search for a folder
17. Search anything by name
18. Diff command for files
19. Diff command for folder contents
20. Display content of a file to console
21. Put console data to file
23. Search within content of a file
24. Search within the output of another command
25. Piping
26. Giving admin previelege to a command/process
27. Getting system information
28. Getting disk usage information for a file/folder.
29. Getting information of a running process.
30. Getting all the running processes and info about them.
31. Ability to start and kill a process.
32. Ability to monitor multiple processes.
33. Supporting pings
34. Getting history of commands used
35. zip/unzip commands